* {
  box-sizing: border-box;
}

body {
  background-color: #f8f6f6;
}

.nav-title {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 0;
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
}
.form {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
#input-form {
  width: 840px;
  height: 52px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
#btn {
  width: 132px;
  height: 52px;
  background: linear-gradient(90deg, #9ebd69 0%, #00c0cc 100%);
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 16px;
}
.parent-div {
  display: flex;
}
.child-1 {
  display: flex;
  width: 566px;
  height: 583px;
  margin-right: 18px;
}
.child-2 {
  width: 394px;
  height: 583px;
  background-color: #fff;
}
.master-container {
  max-width: 978px;
  min-width: 978px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
}

h3 {
  line-height: 1.45;
}

main {
  margin-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #acacac;
  font-size: 20px;
}
