* {
  box-sizing: border-box;
}

body {
  background-color: #f8f6f6;
}

.nav-title {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
}
